.topbar{
    background-color: #0b0d08;
    height: 80px;
    border-bottom: 1px #aaa solid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    padding-left: 10px;
    font-size: large;
}
.sidebar{
    position: fixed;
    top: 81px; 
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow-y: auto;
    width: 200px; 
    background-color: #356879;
    border-right: 1px #aaa solid;
}

.main{
    color: #b3a797;
    padding: 15px;
    margin-right: 15px;
    margin-left: 200px;
    margin-top: 80px;
    overflow: visible;
    font-size: larger;
}

.search{
    color: #b3a797;
    padding: 15px;
    margin-right: 15px;
    margin-left: 200px;
    margin-top: 80px;
    overflow: visible;
    font-size: larger;
}

.signin{
    color: #b3a797;
    padding: 15px;
    margin-right: 15px;
    margin-left: 200px;
    margin-top: 80;
    overflow: visible;

}

.item{
    border: #ffffff;
    border-style:dotted;
    margin:10px;
    margin-bottom: -50px;
    padding: 10px;
}

.button {
    background-color: #356879;
    transition-duration: 0.1s;
    width: 200px; 
    border-bottom: 1px #aaa solid;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    color:#b3a797
  }
  
  .button:hover {
    cursor:pointer;
    background-color: #164757; 
    color: white;
  }

  .button:active {
    transform: translateX(4px);
  }

  a:link {color:#ffffff;text-decoration:none;}
  a:visited {color:#ffffff;text-decoration:none;}
  a:hover {text-decoration:underline;}

h1{
    color: #b3a797;
}

p{
    color: #b3a797
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    background-color: #102733;
}
